/* Forms */



#mc_signup_form{
	border:none;
	background:none;
	padding:none !important;
	margin-left:-5px !important;
	
	.mc_merge_var{
		padding-bottom:20px;
	}
	
	#mc-indicates-required{
		display: none !important;
	}
	#mc_signup_submit{
		@include button;
	}
	
	
	.mc_error_msg{
		@include failure;
	}
	.mc_required{
		color:red;
	}
}

.mc_success_msg, .wpcf7-mail-sent-ok{
		@include success;
		width:100%;
		border:none !important;
		margin:0px !important;
	}




div.wpcf7-validation-errors {
	border:none !important;
}

.wpcf7-validation-errors{
	@include failure;
	width:100%;
	margin:0px !important;
}

.wpcf7-not-valid{
	margin:0px !important;
	border:1px solid red !important;
}

span.wpcf7-not-valid-tip{
	display: none;
	margin:0px !important;
	padding:0px !important;
	height:0px !important;
	width:0px !important;
}


.mc_signup_submit{
	#mc_signup_submit{
		@include button;
		background-color:$orange;
	}
}